
@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/typeplate-starter-kit/css/typeplate.css";

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
}

/**
 * GRIDS
 */

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    > * {
        flex: 1;
        flex-basis: 100%;
    }
}

@define-mixin grid_r $col, $width {
    @media only screen and (min-width: $(width)px) {
        .grid-$(col)-$(width) {
            & > * {
                flex-basis: calc(100 / $col)%;
            }
            @mixin-content;
        }
    }
}

@define-mixin grid $col {
    .grid-$(col) {
        & > * {
            flex-basis: calc(100 / $col)%;
        }
        @mixin-content;
    }
}

@mixin grid 2 {}
@mixin grid 4 {}
@mixin grid 6 {}

@mixin grid_r 2, 400 {}
@mixin grid_r 2, 800 {}

@mixin grid_r 4, 400 {}
@mixin grid_r 4, 800 {}

/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
    .pace-progress {
        background: #2299dd;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        transition: all 1s ease;
    }
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}
/**
 * GENERAL
 */

img {
    max-width: 100%;
}
/**
 * YOUR CODE HERE
 */
body{
    overflow-x:hidden;
}
header{
    height: 70px;
    width: 100%;
    background-color: rgba(255,255,255, .2);
    position: fixed;
    top: 0;
    padding: 20px 10px;
    z-index: 1;
    .logo{
        width: 25%;
        float: left;

        h4{
            margin-bottom: 0;
            border-bottom: 1px solid gray; 
        }
        p{
            margin: 0;
        }
    }
    .navlist{
        width: 45%;
        float: left;
        list-style: none;
        padding: 0;
        margin: 0;
        
        a{
            text-decoration: none;
        }
        li{
            
            
            float: left;
            margin-left: 50px;
            
            h3{
                font-size:1.5em; 
            }
        }
        li:hover{
            border-bottom: 1px solid red;
        }
    }
    .nav-icons{
        float: left;
        width: 30%;
        height: 70px;
        ul{
            list-style: none;
            margin: 0;
        }
        .email{
            float: right;
            width: 20%;
            height: 45px;
            background-image: url(../images/email.png);
            background-repeat: no-repeat;
            background-size: contain;
            margin-right:20px;
        }
        .git{
            float: right;
            width: 20%;
            height: 45px;
            background-image: url(../images/github.png);
            background-repeat: no-repeat;
            background-size: contain;
            margin-right:20px;
        }
        .linkedin{
            float: right;
            width: 20%;
            height: 45px;
            background-image: url(../images/linkedin_logo.png);
            background-repeat: no-repeat;
            background-size: contain;
            margin-right:20px;
        }

    }
}

#top{

    background-image: url(../images/macbackground.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: -2;
    padding: 50px 100px;
    p{
        margin-top: 15%;
        background-color: rgba(0,0,0,.3);
        color: white;
        font-size: 24px;
        padding: 10px
        
    }  
    
    
    
}
a{
        text-decoration: none;
        color: white;
    }


#skills{
   
    margin: auto;
    padding: 100px 125px 0 150px;
    background-color: rgb(240,240,240);
    margin-top: 62%;
    h4{
        margin-bottom: 100px;
    }
    
}
.icons{
    .icons-all{
        height: 100px;
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: 100px;
        -webkit-filter:grayscale(100%);
        filter: grayscale(100%);  
    }
    .icons-all:hover{
        transition:.5s;
        -webkit-filter: grayscale(0);
        filter: grayscale(0);

    }
    .html{
        background-image: url(../images/html.png);
    }

    .css{
        background-image: url(../images/css3.png);
    }
     .javascript{
        background-image: url(../images/js.png);
    }

    .jquery{
        background-image: url(../images/jquery.gif);
    }
     .backbone{
        background-image: url(../images/backbone.png);
        position: relative;
        p{
            position: absolute;
            bottom: -65px;
            left: 5px;
            color: rgb(240,240,240);
        }
    }

    .backbone:hover{
        p{
            color: rgb(60,111,180);
        }
    }

    .react{
        background-image: url(../images/react.png);
        position: relative;
        p{
            position: absolute;
            bottom: -55px;
            left: 25px;
            color: rgb(240,240,240);
            
        }
    }

    .react:hover{
        p{
            color: rgb(141,217,252);
        }
    }

    .api{
       height: 100px;
       margin-bottom: 100px;
       p{
            font-size: 2em;
            
            text-align: center;
            vertical-align: middle;
       }
    }
       
}
hr{
    width: 95%;
}
#work{
    
    width: 100%;
    margin: auto;
    padding: 60px 10px 30px 10px;
    background-color: #010202;
    overflow: hidden;
    .col-1{
        width: 100%;
        height: 250px;
        #store{
            display: inline-block;
            padding: 10px;
            height: 300px;
            width: 33.3%;
            float: left;
            .store-image{
                height: 300px;
                background-image: url(../images/store.png);
                background-repeat: no-repeat;
                background-size: contain;
                background-attachment: center;
            }
        }

        #weather{
            display: inline-block;
            padding: 10px;
            height: 300px;
            width: 33.3%;
            float: left;
            .weather-image{
                height: 300px;
                background-image: url(../images/weather.png);
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        #etsy{
            display: inline-block;
            padding: 10px;
            height: 300px;
            width: 33.3%;
            float: left;
            .etsy-image{
                height: 300px;
                background-image: url(../images/model.png);
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
    .col-2{
        width: 100%;
        height: 250px;
        #forum{
            display: inline-block;
            padding: 10px;
            height: 300px;
            width: 33.3%;
            float: left;
            .forum-image{
                height: 300px;
                background-image: url(../images/forum.png);
                background-repeat: no-repeat;
                background-size: contain;
            }
            
        }
        #jk{
            display: inline-block;
            padding: 10px;
            height: 300px;
            width: 33.3%;
            float: left;
            .jk-image{
                height: 300px;
                background-image: url(../images/jk.png);
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        #social{
            display: inline-block;
            padding: 10px;
            height: 300px;
            width: 33.3%;
            float: left;
            .social-image{
                height: 300px;
                background-image: url(../images/social.png);
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
    
    .work-app:hover{
        .about{
            display: block;
        }
    }
}

.about{
    position: absolute;
    display: none;
    background-color: rgb(0,0,0,.7);
    padding: 10px;
    width: 32%;
    height: 250px;
    color: white;
    p{
        font-size: 14px;
        margin: 0;
    }
    a{
        text-decoration: none;
        color: white;
    }
    ul{
        li{
            font-size: 16px;
        }
    }
}   


footer{
    height: 50px;
    background-color: black;
    color: white;
    p{
        margin: 0;
        text-align: center;
        font-size: 12px;
    }
}

@media screen and (max-width: 800px){


header{
    padding: 10px 5px;
    height: 50px;
    .logo{
        h4{
            font-size: 14px;
        }
        p{
            font-size: 12px;
        }
        
    }
    .navlist{
        font-size: 15px;
        li{
            margin-left: 15px;
        }
    }
    .nav-icons{
        ul{
            padding: 0;
           li{
                width: 20%;
                
                
            } 

            .git{
                   margin-right: 15px; 
                }
                .email{
                    margin-right: 15px;
                }
                .linkedin{
                    margin-right: 15px;
                }
        }
        
    }
}

#top{
    padding: 0;
   p{
    font-size: 18px;
    margin-top: 8%;
   }
}

#skills{
    padding: 50px 45px 0px;
    margin-top: 62%;
    h4{
        margin-bottom: 50px;
        text-align: center;
    }
    .icons-all{
            background-position: center;
    }
}

#work{
    width: 100%;
    padding:40px 20px;
}


}



@media screen and (max-width: 480px){


header{
    padding: 5px 5px;
    height: 55px;
    .logo{
        width: 40%;
        h4{
            font-size: 16px;
        }
        p{
            font-size: 13px;
        }
    }
    .navlist{
        display: none;
    }
    .nav-icons{
        float: right;
        width: 50%;
       
    }
}

#top{
    height: 250px;
    padding: 0px 40px;
    p{
        margin-top: 8%;
        margin-bottom: 0;
        padding: 10px;
        font-size: 15px;
    }
    
}

#skills{
    margin-top: 250px;
    padding: 35px 10px 0px;
    h4{
        margin-bottom: 50px;
        text-align: center;
    }
    .icons-all{
        background-position: center;
        margin-bottom: 50px;
        .backbone{
            left: 50px;
        }
    }
    .backbone{
        p{
            left: 50px;
        }
    }
    .react{
        p{
            left: 65px;
        }
    }
}
#work{
    width: 100%;
    padding: 3px;
    
    .col-1{
        #store{
                width: 100%;
                .store-image{
                    
                }
            }
            #weather{
                width: 100%;
                .weather-image{
                    
                }
            }
            #etsy{
                width: 100%;
                .etsy-image{
                   
                }
            }
    }
    .col-2{
        #forum{
        width: 100%;
        
        }
        #social{
            width: 100%;
        }
        #jk{
            width: 100%;
        }
    }
    
    
    
}
.about{
    width: 100%;
}
}

